.DS_Store
src/test/java/output/
.idea
.gradle
build/*
allure-report/*
test-output/*
target/*
report.json
testng.xml
node_modules
*.json
*.html
*.iml
*.log
!webContent/app/package.json
!webContent/**/**/**/*.json
!webContent/app/public/index.html
/target/
webContent/app/public/screenshot
webContent/app/src/data/Report.json
.classpath
.project
.settings/
apps
temp