[submodule "cucumber-jvm-parallel-plugin"]
	path = cucumber-jvm-parallel-plugin
	url = https://github.com/saikrishna321/cucumber-jvm-parallel-plugin.git
[submodule "AppiumTestDistribution"]
	path = AppiumTestDistribution
	url = https://github.com/saikrishna321/AppiumTestDistribution.git
