# Xcode
# Build, test, and archive an Xcode workspace on macOS.
# Add steps that install certificates, test, sign, and distribute an app, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/xcode

pool:
  vmImage: 'macOS 10.13'


steps:
- task: NodeTool@0
  inputs:
    versionSpec: '8.0.0'
- script: |
     node -v
    brew outdated xctool || brew upgrade xctool
    xcrun simctl list -j
    npm install -g appium@beta
    appium -v
    mvn clean site install -Dmaven.test.skip=true
    Platform='ios' mvn clean -Dtest=Runner test

  displayName: 'Build with Maven'