# Xcode
# Build, test, and archive an Xcode workspace on macOS.
# Add steps that install certificates, test, sign, and distribute an app, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/xcode

pool:
  vmImage: 'macOS 10.13'

steps:
- script: |
    brew outdated xctool || brew upgrade xctool
    adb --version
    sdkmanager --list
    avdmanager create avd --force -n test -k 'system-images;android-27;google_apis;x86' -d 'AppiumDevice'
    avdmanager -list-avds
  displayName: 'Build with Maven'