<suite name="Test-class Suite" parallel="classes" thread-count="2" >
  <test name="Test-class test" >
    <classes>
      <class name="com.test.site.HomePageTest1" />
        <class name="com.test.site.HomePageTest5" />
          <class name="com.test.site.HomePageTest2" />
            <class name="com.test.site.HomePageTest3" />
              <class name="com.test.site.HomePageTest4" />
    </classes>
  </test>
  
  
</suite>

